<section id="lost">
  <div class="lost-container">
    <h2>404</h2>
    <h3>Page introuvable</h3>
    <!-- Bouton Précédent pour revenir à la page précédente -->
    <button onclick="goBack()">Revenir</button>
  </div>
</section>

<script>
  // Fonction pour revenir à la page précédente
  function goBack() {
    window.history.back();
  }
</script>
<script src="/js/phrase404.js"></script>
