

    <section id="legal-mention">
        <div class="container">
            <h2>Mentions Légales</h2>
            <p>Insérer ici les mentions légales de l'entreprise Actike.</p>
        </div>
    </section>


