

<section class="send-email">
  <div class="send-email-container">
        <h2 class="title-v2">Merci pour votre message !</h2>
        <p class="send-message-p">Votre message a bien été envoyé. Nous vous répondrons dans les plus brefs délais.</p>
        <div class="confirmation-details">

            <p class="send-message-p">Si vous avez des questions supplémentaires, n'hésitez pas à nous contacter<br> par téléphone au <a href="tel:+33651296752">+33 (0)6 51 29 67 52</a> <br>ou par e-mail à <a href="mailto:virgile.oger@actike.com?subject=Question depuis le site actike.com">virgile.oger@actike.com</a></p>


    <div class="backhome">
      <button>
        <a href="/" class="send-message">Retour à l'accueil</a>
      </button>
    </div>

  </div>
</section>
