header {
  background: #fff;
  /*margin:0 20px 0 ;*/
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.img-logo {
  filter: drop-shadow( 0 0 10px #121212);
  width: 100px;
  height: 100px
}

.name h1 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.name p {
  margin: 0;
  color: #777;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.cta-button {
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  border-radius: 5px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 80px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
  }

  .burger {
    display: block;
  }
}


#hero {
  background: url('hero-background.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.cta-button {
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
