/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #002366; /* Bleu foncé pour les textes */
}

header {
  background: rgba(255, 255, 255, 0.0); /* transparent background */
  opacity: 0; /* Départ de l'opacité à 0 */
  transition: opacity 5s ease; /* Transition d'opacité sur 5 secondes */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the header is above other content */
  height: 80px; /* Ajustez cette valeur à la hauteur réelle de votre header */
}

header.visible {
  opacity: 1; /* Opacité à 1 lors de l'affichage */
}

header.scrolled {
  background: #fff; /* white background */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-bloc {
  display: flex;
  flex-direction: row;
}

.nav-bloc {
  display: flex;
  justify-content: flex-end;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #002366; /* Bleu foncé pour le logo */
  text-decoration: none;
}

.img-logo {
  filter: drop-shadow(0 0 10px #121212);
  width: 100px;
  height: 100px;
}

.name {
  display: none; /* Masquer par défaut */
}

.name h1 {
  font-size: 1.2rem;
  margin: 0;
  color: #002366;
  font-size: 2.5rem;
  font-weight: bolder;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.name p {
  margin: 0;
  color: #777;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.nav-links.nav-active {
  transform: translateY(0);
  opacity: 1;
}

.nav-links .link {
  margin: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem;

}
.nav-links .link:hover::after {
  transform: scale(1);
  transform-origin: center;
}
.nav-links .link::after {
  content: "";
  display: block;
  height: 0.15rem;
  background: #00A36C;
  transform: scale(0);
  transition: transform 0.3s;
}


li {
  margin: 0.5rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #002366; /* Bleu foncé pour les liens de navigation */
}

.cta-button {
  text-decoration: none;
  color: #fff;
  background: #00A36C; /* Vert émeraude pour les boutons */
  padding: 10px 20px;
  border-radius: 2rem;
  border: solid 1px #fff;

}
.cta-button:hover {
  color: #00A36C;
  background: #fff; 
    border: solid 1px #00A36C;

}

.link-cta {
  color: #fff;
  font-weight: 500;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  transition: transform 0.5s ease;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #00A36C; /* Vert émeraude pour les icônes du burger */
  margin: 5px;
  transition: all 0.3s ease;
}

.burger.rotate {
  transform: rotate(90deg);
}

#hero {
  background: url('../images/bg1.webp') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 250px 20px;
  display: flex;
  justify-content: space-around;
}

.hero-content {
  text-align: center;
  background-color: rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .4);
  padding: 2rem 1rem;
  max-width: 550px;
  border-radius: 0.5rem;
  opacity: 0; /* Départ de l'opacité à 0 */
  transform: translateY(100px); /* Départ de la translation vers le bas */
  transition: opacity 2s ease, transform 2s ease; /* Transition d'opacité et de translation sur 2 secondes */
}

.hero-content.show {
  opacity: 1; /* Opacité à 1 lors de l'affichage */
  transform: translateY(0); /* Translation vers la position initiale */
}

.hero-content.initial {
  opacity: 1; /* Assure que l'opacité est 1 au chargement de la page */
  transform: translateY(0); /* Assure que la position est initiale */
}

.hero-content h1 {
  font-size: 3.1rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 10px black;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px 10px black;
}

/* Masquer .name entre 0px et 550px */
@media (max-width: 550px) {
  .name {
    display: none;
  }
}

/* Afficher .name pour les écrans entre 551px et 1089px */
@media (min-width: 551px) and (max-width: 1089px) {
  .name {
    display: block;
  }
}

/* Masquer .name entre 1090px et 1470px */
@media (min-width: 1090px) and (max-width: 1470px) {
  .name {
    display: none;
  }
}

/* Afficher .name pour les écrans >= 1471px */
@media (min-width: 1471px) {
  .name {
    display: block;
  }
}

@media (max-width: 1090px) {
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
  }

  .nav-links.nav-active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .burger {
    display: block;
  }
}
