/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #002366; /* Bleu foncé pour les textes */
}

header {
  background: rgba(255, 255, 255, 0.0); /* transparent background */
  transition: background 0.25s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the header is above other content */
}

header.scrolled {
  background: #fff; /* white background */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-bloc {
  display: flex;
  flex-direction: row;
}

.nav-bloc {
  display: flex;
  justify-content: flex-end;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #002366; /* Bleu foncé pour le logo */
  text-decoration: none;
}

.img-logo {
  filter: drop-shadow(0 0 10px #121212);
  width: 100px;
  height: 100px;
}

.name h1 {
  font-size: 1.2rem;
  margin: 0;
  color: #002366; /* Bleu foncé pour le nom */
}

.name p {
  margin: 0;
  color: #777;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #002366; /* Bleu foncé pour les liens de navigation */
}

.cta-button {
  text-decoration: none;
  color: #fff;
  background: #00A36C; /* Vert émeraude pour les boutons */
  padding: 10px 20px;
  border-radius: 5px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #002366; /* Bleu foncé pour les icônes du burger */
  margin: 5px;
  transition: all 0.3s ease;
}

#hero {
  background: url('../images/bg1.webp') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 300px 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 80px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
  }

  .burger {
    display: block;
  }
}
