<header>
    <div class="branding">
        <a href="/" class="logo">
            <img 
                src="images/logo.webp" 
                alt="Logo de l'entreprise 
                    <%= data.enterprise[0].denomination %> 
                    <%= data.enterprise[0].informations_legales.status %>
                    Description du logo :
                    ">
        </a>
        <h1 class="branding-name"><%= data.enterprise[0].denomination %></h1>
      
        <p class="branding-text">  <!--L'Excellence Numérique au Service de la Planète,<br> Rejoignez l'Aventure !--></p>
    </div>
        <nav class="bloc-nav">
<!-- Navigation du menu -->
<nav id="navbar" class="navbar">
  <ul>

      <li><a href="#accueil">Accueil</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#realisations">Réalisations</a></li>
      <li><a href="#temoignages">Témoignages</a></li>
      <li><a href="#apropos">À propos</a></li>
      <li><a href="#contact">Contact</a></li>

    </ul>
</nav>
        </nav>

          <a href="#contact" class="cta">Demandez un devis</a>


</header>