
<!-- Bouton du menu burger -->
<div class="burger-menu">
  <button id="burger" aria-label="Toggle menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>


<!-- Navigation du menu -->
<nav id="navbar" class="navbar">
  <ul>

      <li><a href="#accueil">Accueil</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#realisations">Réalisations</a></li>
      <li><a href="#temoignages">Témoignages</a></li>
      <li><a href="#apropos">À propos</a></li>
      <li><a href="#contact">Contact</a></li>

    </ul>
</nav>


