
<!-- Bouton du menu burger -->
<div class="burger-menu">
  <button id="burger" aria-label="Toggle menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>


<!-- Navigation du menu -->
<nav id="navbar" class="navbar">
  <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/a-propos">À Propos</a></li>
        <li><a href="/services">Services</a></li>
        <!--
        <li><a href="/maintenance-service">Page de Maintenance</a></li>
        <li><a href="/maintenance-landing">Landing de Maintenance</a></li>
        <li><a href="/countdown">Compte à Rebours</a></li>-->
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
        

 <!--        <li><a href="/sitemaps">sitemaps</a></li>
       
        <li><a href="/sitemap">sitemap</a></li>
        <li><a href="/send-email">Message envoyé</a></li>
         
        <li><a href="/log">Logs</a></li>
        <li><a href="/log2">Logs2</a></li>
        <li><a href="/blecweb-countdown">blecweb-countdown</a></li>
        <li><a href="/opening-blecweb">ouverture-blecweb</a></li>-->
    </ul>
</nav>


